# Ignore database files
*.sqlite3
# Ignore static files
/staticfiles/

# Ignore media files
/media/
images/
/profile_pics/
# Ignore virtuals environment
/venv/

# Ignore IDE files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore local settings file
/local_settings.py

/FoodApp/migrations
/UserApp/migrations

# Ignore Docker files 
Dockerfile
docker-compose.yml
```
